[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
phonenumbers = "*"
sklearn = "*"
django-cors-headers = "*"
scikit-learn = "*"
psycopg2-binary = "*"
psycopg2 = "*"
django-user-mixins = "*"
drf-yasg = "*"
requests = "*"
twilio = "*"
rave-python = "*"
celery = "*"
django-celery-email = "*"
whitenoise = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.7"
