amqp==5.0.6
asgiref==3.3.4
billiard==3.6.4.0
cached-property==1.5.2
celery==5.1.1
certifi==2021.5.30
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
coreapi==2.3.3
coreschema==0.0.4
Django==3.2.4
django-appconf==1.0.4
django-celery-email==3.0.0
django-cors-headers==3.7.0
django-user-mixins==0.0.1
djangorestframework==3.12.4
drf-yasg==1.20.0
gunicorn==20.1.0
idna==2.10
importlib-metadata==4.5.0
incuna-mail==4.1.1
incuna-pigeon==0.1.0
inflection==0.5.1
itypes==1.2.0
Jinja2==3.0.1
joblib==1.0.1
kombu==5.1.0
MarkupSafe==2.0.1
numpy==1.21.0
packaging==20.9
phonenumbers==8.12.25
prompt-toolkit==3.0.19
psycopg2==2.9.1
psycopg2-binary==2.9.1
pycryptodome==3.10.1
PyJWT==1.7.1
pyparsing==2.4.7
pytz==2021.1
rave-python==1.2.10
requests==2.25.1
ruamel.yaml==0.17.9
ruamel.yaml.clib==0.2.2
scikit-learn==0.24.2
scipy==1.7.0
six==1.16.0
sklearn==0.0
sqlparse==0.4.1
threadpoolctl==2.1.0
twilio==6.60.0
typing-extensions==3.10.0.0
uritemplate==3.0.1
urllib3==1.26.5
vine==5.0.0
wcwidth==0.2.5
whitenoise==5.2.0
zipp==3.4.1
